@import '@/styles/variables.scss';

.wrapper {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all ease-in 0.4s;
}
.wrapper.visible {
  background-color: rgba(0, 0, 0, 0.5);
}
.cart {
  position: absolute;
  right: 0;
  top: 0;
  width: 360px;
  max-width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  padding: 1.5rem 1rem;
}

.cartEnter {
  transform: translateX(100%);
}
.cartEnterActive {
  transform: translateX(0);
  transition: all ease-in 0.4s;
}
.cartExit {
  transform: translateX(0);
}
.cartExitActive {
  transform: translateX(100%);
  transition: all ease-in 0.2s;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
  }
}
.cartProducts {
  width: 100%;
  margin: 2rem 0 1.5rem;
  padding-right: 0.5rem;
  height: calc(100% - 250px);
  overflow-y: auto;
  @media screen and (min-width: 768px) {
    height: calc(100% - 220px);
  }

  &::-webkit-scrollbar {
    width: 0.4rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $color_lightgray;
    border-radius: $br-small;
  }
  &::-webkit-scrollbar-thumb {
    background: $linear-gradient-green;
    border-radius: $br-small;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $linear-gradient-green-reverce;
  }
}
.cartFooter {
  .totalPrice {
    text-align: right;
    padding: 0 0.5rem 0.5rem;
  }
  > button {
    margin-top: 0.5rem;
  }
}
.empty {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button {
    margin-top: 1rem;
  }
}
