@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.bearSection {
  width: 100%;
  display: flex;
  gap: 2rem;
  @include mobile {
   flex-direction: column;
  }
  .images {
    width: 600px;
    height: 720px;
    @include laptop {
      width: 500px;
      height: 620px;
    }
    @include tablet {
      width: 400px;
      height: 520px;
    }
  }
  .informations {
    border: 1px solid $color-green;
    background-color: rgb(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    border-radius: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    flex: 1;
    .description {
      h3 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        span {
          color: $color_green;
        }
      }
      p {
        font-size: 1.1rem;
        margin: 0.35rem 0;
      }
    }
    .selectBlock {
      .choisesBlock {
        margin-bottom: 1rem;
        .title {
          font-size: 1.5rem;
          font-weight: 700;
        }
        div {
          margin-top: 0.75rem;
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          min-height: 1.5rem;
          .colorSpan {
            background: #f9fcfc;
            position: relative;
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            border: 1px solid $color_blue;
            border-radius: 4px;
            cursor: pointer;
            &.active {
              // background:  $color_green;
              border: 1px solid $color_green;
              -webkit-box-shadow: 0px 0px 5px 1px $color_green;
              -moz-box-shadow: 0px 0px 5px 1px $color_green;
              box-shadow: 0px 0px 5px 1px $color_green;
            }
            &::after {
              content: attr(data-title);
              position: absolute;
              top: -100%;
              left: 50%;
              transform: translateX(-50%);
              background-color: #333;
              color: #fff;
              padding: 5px;
              border-radius: 4px;
              white-space: nowrap;
              opacity: 0;
              pointer-events: none;
              transition: opacity 0.3s ease-in-out;
              font-size: 12px;
              visibility: hidden;
            }

            &:hover::after {
              opacity: 1;
              visibility: visible;
            }
          }
          .sizesSpan {
            position: relative;
            display: block;
            padding: 0.6rem 0.6rem;
            text-align: center;
            border: 1px solid $color_blue;
            border-radius: 4px;
            cursor: pointer;
            &.active {
              border: 1px solid $color_green;
              -webkit-box-shadow: 0px 0px 5px 1px $color_green;
              -moz-box-shadow: 0px 0px 5px 1px $color_green;
              box-shadow: 0px 0px 5px 1px $color_green;
            }
          }
        }
      }
      .confirmBlock {
        p {
          font-size: 1.5rem;
          margin-bottom: 0.5rem;
          span {
            color: $color-green;
            font-weight: 700;
            &.price {
              font-size: 1.8rem;
              color: $color_red;
            }
          }
        }
        .buyButtons {
          margin-top: 2rem;
          display: flex;
          gap: 20px;
          button {
            height: 3rem;
            &:nth-child(2) {
              background: rgb(255, 255, 255, 0.95);
              backdrop-filter: blur(10px);
              color: $color_green;
              border: 1px solid $color_green;
              border-radius: 8px 8px 20px 8px;
              &:hover {
                -webkit-box-shadow: 0px 0px 5px 1px $color_green;
                -moz-box-shadow: 0px 0px 5px 1px $color_green;
                box-shadow: 0px 0px 5px 1px $color_green;
              }
            }
          }
        }
      }
    }
  }
}
