@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';
.wrapper {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all ease-in 0.4s;
}
.wrapper.visible {
  background-color: rgba(0, 0, 0, 0.2);
}

.mobMenuContainer {
  > button {
    padding: 0.35rem 2rem;
  }
}
.content {
  width: 360px;
  max-width: 100vw;
  height: 100vh;
  position: relative;

  .mobMenu {
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    padding: 1.5rem 0 3.5rem;
    overflow: auto;
    .title {
      padding: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      >:first-child{
        color: $color_green
      }
    }
    .search {
      padding: 1rem 1rem 0;
    }
    .catalog {
      margin: 1rem;
    }

    .nav {
      nav {
        a {
          padding: 0.75rem;
          border-top: $border;
          transition: $transition;
          &:last-child {
            border-bottom: $border;
          }
          &:hover {
            background-color: $color_lightgray;
          }
        }
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem;
      border-bottom: $border;
      svg {
        color: $color_green;
      }
      &:hover {
        background-color: $color_lightgray;
      }
    }

    .callback {
      margin-top: 1rem;
    }

    .info {
      padding: 1rem;
      > button {
        margin-bottom: 1rem;
      }
    }
    @media screen and (min-width: 768px) {
      width: 400px;
    }
    &::-webkit-scrollbar {
      width: 0.4rem;
    }
    &::-webkit-scrollbar-track {
      background-color: $color_lightgray;
      border-radius: $br-small;
    }
    &::-webkit-scrollbar-thumb {
      background: $linear-gradient-green;
      border-radius: $br-small;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $linear-gradient-green-reverce;
    }
  }
}


.cartEnter {
  transform: translateX(-100%);
}
.cartEnterActive {
  transform: translateX(0);
  transition: all ease-in 0.4s;
}
.cartExit {
  transform: translateX(0);
}
.cartExitActive {
  transform: translateX(-100%);
  transition: all ease-in 0.2s;
}
