@import './mixins';
@import './variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  background-color: #fbfbfb;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  min-width: 360px;
  padding: 0 64px;
  @include tablet {
    padding: 0 32px;
  }
  @include mobile {
    padding: 0 16px;
  }
}

.mainTitle {
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  .icon {
    color: $color_green;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include laptop {
    font-size: 2.5rem;
  }
  @include tablet {
    font-size: 2rem;
  }
}
