@mixin minimum {
  @media only screen and (max-width: 550px) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}
@mixin medium {
  @media screen and (max-width: 1280px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1439px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (max-width: 1919px) {
    @content;
  }
}


@mixin custom-scrollbar($thumb-color: #ccc) {
  &::-webkit-scrollbar {
    width: 3px;
    /* Ширина скроллбара */
  }

  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    background-color: transparent;
    /* Прозрачный трек */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    /* Цвет ползунка */
    border-radius: 5px;
    /* Скругление углов ползунка */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: darken($thumb-color, 10%);
    /* Затемненный цвет при наведении */
  }
}



