$color_black: #000000;
$color_white: #ffffff;
$color-blue-gray: #2c3946;
$color-blue-gray-light: #3f4e5d;
$color_lightblue: #c4dfdf;
$color_green: #32786e; //#016a70;
$color_red: #f84147;
$color_pink: #ff8f6c;
$color_link: #3b6d9a;
$color_lightgray: #e5e7eb;
$color_gray: #2d383c;
$color-brown: #8db6a5;
$color_blue: #9db0b0;

$linear-gradient-brown: linear-gradient(180deg, #8db6a5, #86bea7);
$linear-gradient-brown-reverce: linear-gradient(180deg, #86bea7, #8db6a5);
$linear-gradient-light: linear-gradient(180deg, #fafbfc, #ebeffa);
$linear-gradient-blue-gray: linear-gradient(180deg, #2a3846, #2c3946);
$linear-gradient-blue-gray-reverce: linear-gradient(180deg, #2c3946, #2a3846);
$linear-gradient-green: linear-gradient(180deg, #0a767c, #016a70);
$linear-gradient-green-reverce: linear-gradient(180deg, #016a70, #0a767c);
$linear-gradient-red: linear-gradient(180deg, #e24a4f, #f84147);
$linear-gradient-red-reverce: linear-gradient(180deg, #f84147, #e24a4f);
$linear-gradient-lightblue: linear-gradient(180deg, #b2d3d3, #c4dfdf);
$shadow-blue-gray-n: 0px 2px 2px rgba(64, 79, 94, 0.05), 0px 0px 2px rgba(64, 79, 94, 0.06),
  0px 1px 4px rgba(64, 79, 94, 0.08);
$shadow-blue-gray-a: 0px 2px 2px rgba(64, 79, 94, 0.2), 0px 0px 2px rgba(64, 79, 94, 0.3),
  0px 1px 4px rgba(64, 79, 94, 0.5);

  $transition: all ease 0.3s;
  $border: 1px solid $color_lightgray;
  $br-small: 4px;
  $br-medium: 8px;
  $br-large: 16px;

  $box-shadow-accent: rgba(1, 18, 34, 0) 0px 7px 2px 0px, rgba(1, 18, 34, 0.01) 0px 4px 2px 0px,
  rgba(1, 18, 34, 0.05) 0px 2px 1px 0px, rgba(1, 18, 34, 0.09) 0px 1px 1px 0px,
  rgba(1, 18, 34, 0.1) 0px 0px 1px 0px;