@import '@/styles/variables.scss';
.button {
  width: 100%;
  color: inherit;
  padding: 0.35rem 0.5rem;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  transition: $transition;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  border: $border;
  border-radius: $br-small;
  .icon {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    transition: $transition;
  }
}
.button:hover {
  box-shadow: $shadow-blue-gray-n;
  background: linear-gradient(180deg, #fafbfc, #ebeffa);
}
.button:hover svg {
  transform: scale(1.1);
}
.brown {
  border: 1px solid $color_brown;
  background: $linear-gradient-brown;
  color: $color_white;
  &:hover {
    background: $linear-gradient-brown-reverce;
  }
}
.red {
  border: 1px solid $color_red;
  background: $linear-gradient-red;
  color: $color_white;
  &:hover {
    background: $linear-gradient-red-reverce;
  }
}
.green {
  border: 1px solid $color_green;
  background: $linear-gradient-green;
  color: $color_white;
  &:hover {
    background: $linear-gradient-green-reverce;
  }
}
.grey {
  border: 1px solid $color_blue-gray;
  background: $linear-gradient-blue-gray;
  color: $color_white;
  &:hover {
    background: $linear-gradient-blue-gray-reverce;
  }
}

.inactiveButton {
  cursor: auto;
}
