@import '@/styles/variables.scss';

.button {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  border-radius: $br-small;
  overflow: hidden;
  color: $color-blue-gray;
  transition: $transition;
  .icon {
    color: inherit;
    transition: $transition;
  }
  .count {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    width: 1.1rem;
    height: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $br-small;
    color: $color_white;
    background: $linear-gradient-brown;
  }
  &:hover {
    color: $color-brown;
  }
}
