@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.hero {
  height: calc(100vh - 80px);
  min-height: 600px;
  background-image: url('/images/bear-left.png'), url('/images/bear-right.png');
  background-size: auto 75%, auto 90%;
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    background-image: url('/images/bear-right.png');
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: right bottom;
    justify-content: flex-start;
  }
  .content {
    position: relative;
    width: 55%;
    @include tablet {
      flex-direction: column;
      width: 70%;
      padding: 2rem;
    }
    .text {
      font-size: 3rem;
      font-weight: 600;
      color: $color-green;
      color: $color_link;
      @include laptop {
        font-size: 2.5rem;
      }
      @include tablet {
        font-size: 2rem;
      }
    }
    .link {
      display: block;
      width: 240px;
      height: 40px;
      border-radius: 12px;
      padding: 0.5rem;
      margin-top: 2rem;
      margin-left: auto;
      background-color: rgb(255, 255, 255, 0.95);
      backdrop-filter: blur(10px);
      text-align: center;
      box-shadow: $box-shadow-accent;
      font-weight: 600;
      color: $color_link;
      transition: $transition;
      background-color: $color_link;
      color: $color_white;
      span {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $color_link;
          transform: scaleX(0);
          transition: transform 0.25s ease-in-out;
          transform-origin: left;
        }
      }
      &:hover {
        span {
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
