@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.reviews {
 // .title {
   
 // }
  .content {
    position: relative;
    margin: 150px 0;
    color: $color_white;
    border-radius: 75px 0 75px 0;
    height: 600px;
    background-color: $color_green;
    background-image: url('/images/bear-left.png');
    background-size: auto 90%; 
    background-position: left bottom; 
    background-repeat: no-repeat;
    .swiperBlock {
      background-color: rgb(255, 255, 255, 0.95);
      backdrop-filter: blur(10px);
      border: 1px solid $color_green;
      width: 75%;
      height: 600px;
      position: absolute;
      right: 0;
      bottom: 75px;
    }
  }
}
