@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.header2 {
  position: relative;
  z-index: 10;
  width: 100%;
 // background-color: $color_white;
  color: $color-blue-gray;
  transition: $transition;
  padding: 1rem 0;
  @include tablet {
    //background: $linear-gradient-green;
    background-color: $color-green;
    padding: 0.5rem 0;
    border-bottom: 1px solid $color_white;
  }
  &.fixedHeader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: rgb(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    @include tablet {
      background-color: $color-green;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: block;
      width: 4rem;
      height: 4rem;
      background-image: url('/images/bear-icon.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      @include laptop {
        gap: 1.2rem;
      }
      .listItem {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.5rem;
        color: $color-blue-gray;
        border-radius: $br-medium;
        position: relative;
        transition: $transition;
        @include laptop {
          font-size: 1.1rem;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $color-green;// $color-brown;
          transform: scaleX(0);
          transition: transform 0.25s ease-in-out;
          transform-origin: left;
        }
        &:hover {
          color: $color-green;//$color-brown;
          &::after {
            transform: scaleX(1);
          }
        }
      }
      @include tablet {
        display: none;
      }
    }
    @include tablet {
      color: $color_white;
    }
  }
}
//кнопка мобільного меню
.mobMenuButton {
  display: none;
  padding: 0.5rem 1rem;
  align-items: center;
  gap: 0.5rem;
  color: $color_white;
  transition: $transition;
  border: 1px solid $color_white;
  border-radius: $br_small;
  @media screen and (min-width: 768px) {
    padding: 0.5rem 2rem;
  }
  :hover {
    box-shadow: $shadow-blue-gray-n;
    svg {
      transform: scale(1.1);
    }
  }
  @include tablet {
    display: flex;
  }
}

.cartButton {
  position: relative;
  width: fit-content;
  padding-bottom: 2px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: $br-small;
  overflow: hidden;
  color: $color-blue-gray;
  transition: $transition;
  font-size: 1rem;

  .icon {
    color: inherit;
    transition: $transition;
  }
  .count {
    color: $color_blue;
    transition: $transition;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-brown;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    transform-origin: left;
  }
  &:hover {
    color: $color-brown;
    .count {
      color: $color-brown;
    }
    &::after {
      transform: scaleX(1);
    }
  }
  @include tablet {
    padding: 0.5rem 1rem;
    color: $color_white;
    border: 1px solid $color_white;
    border-radius: $br_small;
    .name {
      display: none;
    }
    .count {
      color: $color_white;
    }
    &:hover {
      color: $color_white;
      .count {
        color: $color_white;
      }
      &::after {
        transform: scaleX(1);
      }
    }
  }
}
