@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';
.header {
  .header1 {
    color: $color_white;
    background-color: $color-green;
    @include tablet {
      display: none;
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
