  .small {
    width: 1rem;
    height: 1rem;
  }
  
  .medium {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .large {
    width: 2rem;
    height: 2rem;
  }
  .extralarge{
    width: 3rem;
    height: 3rem;
  }