@import '@/styles/variables.scss';

.callbackContainer {
  display: block;
  position: relative;
  padding: 6px;
  z-index: 30;
  .trigger {
    display: flex;
    align-items: center;
    color: inherit;
    padding-right: 2rem;
    transition: all linear 0.2s;

    > svg {
      margin-right: 0.5rem;
    }
    &:hover {
      > svg {
        transform: scale(1.1);
      }
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      transition: all linear 0.2s;
    }
    .rotateIcon {
      transform: rotate(180deg);
    }
  }
  .block {
    position: absolute;
    top: 28px;
    z-index: 30;
    background-color: $color_white;
    border-radius: $br-small;
    padding: 0.75rem 0;
    box-shadow: $shadow-blue-gray-a;
    color: $color_gray;
    font-size: 0.8rem;
    .info {
      padding: 0.5rem 0.75rem 0;
      p {
        margin-top: 0.5rem;
      }
    }
  }
}
