@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';
.callbackButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0.35rem 0.5rem;
  border-radius: 6px;
  color: $color_white;
  background: $linear-gradient-brown;
  svg {
    transition: $transition;
  }
  &:hover {
    background: $linear-gradient-brown-reverce;
    svg {
      transform: scale(1.1);
    }
  }
}
