@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.footer {
  position: relative;
  padding: 2rem 0 0.5rem;
  background-color: $color-green;
  border-radius: 48px 48px 0 0;
  @include mobile {
    border-radius: 24px 20rem 0 0;
  }
  .content {
    .contentBlock {
      display: flex;
      justify-content: space-between;
      @include mobile {
        flex-direction: column;
        // align-items: center;
        justify-content: flex-start;
        gap: 2rem;
      }
      .footerLogo {
        display: flex;
        gap: 2rem;
        @include mobile {
          width: 50%;
          flex-direction: column;
          gap: 10px;
          // align-items: center;
          // justify-content: center;
        }
        .logo {
          display: block;
          width: 100px;
          height: 100px;
          background-image: url('/images/bear-icon.png');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-size: 0.8rem;
          width: 200px;
          @include mobile {
            color: $color_white;
          }
          .title {
            font-weight: 700;
            color: $color-brown;
            text-transform: uppercase;
            @include mobile {
              color: $color_white;
            }
          }
        }
      }
      .infoBlocks {
        display: flex;
        gap: 3rem;
        @include mobile {
          width: 100%;
          flex-direction: row-reverse;
          gap: 2rem;
          // align-items: center;
          // justify-content: center;
        }
     
        .block {
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-size: 0.8rem;
          @include mobile {
            width: 100%;
          }
          .title {
            color: black;
            text-transform: uppercase;
            @include mobile {
              color: $color_white;
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            gap: 6px;
            @include mobile {
              color: $color_white;
            }
          }
          .socials {
            display: flex;
            gap: 6px;
            @include mobile {
              gap: 12px;
            }
            a {
              display: block;
              width: 20px;
              height: 20px;
              background-size: contain;
              background-position: center;
            }
            .instagram {
              background-image: url('/icons/instagram.png');
            }
            .viber {
              background-image: url('/icons/viber.png');
            }
            .telegram {
              background-image: url('/icons/telegram.svg');
            }
          }
          button {
            @include mobile {
              border-radius: 50%;
              position: absolute;
              top: 30px;
              right: 15%;
              width: 100px;
              height: 100px;
              flex-direction: column;
              box-shadow:  $box-shadow-accent;
              background: $color-green;
              border: 1px solid $color_white;
              svg{
                width: 36px;
                height: 36px;
              }
            }
          }
        }
        .contacts {
          //width: 200px;
          width: fit-content;
          font-size: 0.8rem;
          ul {
            margin-top: 1rem;
          }
          a {
            padding: 0.25rem 0.25rem 0.25rem 1.75rem;
            &:hover {
              background-color: transparent;
            }
            &::before {
              left: 0;
            }
          }
        }
      }
    }
    .privacyBlock {
      margin-top: 2rem;
      display: flex;
      gap: 16px;
      font-size: 12px;
     
      @include mobile {
        font-size: 10px;
        gap: 8px;
        color:$color_white;
      }
      button {
        font-size: 12px;
        color: inherit;
      }
    }
  }
}
