@import '@/styles/variables.scss';
.product {
  width: 100%;
  padding: 0.5rem 0.25rem;
  border-bottom: 1px solid $color_lightgray;
  display: flex;
  color: $color_blue-gray;
  gap: 0.5rem;
  .img {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    img {
      object-fit: contain;
      border-radius: $br-small;
    }
  }
  .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
      display: flex;
    }
  }
  .title {
    color: $color_black;
  }
  .count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    .quantity {
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
      padding: 0.25rem 0.1rem;
      border-top: $border;
      border-bottom: $border;
    }
  }
}
