@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';
.info {
  margin: 100px 0;
  border-bottom: 1px solid $color-green;
  border-top: 1px solid $color-green;
  padding: 2rem;
  background-color: $color-green;
  @include tablet {
    margin: 50px 0;
  }
  @include mobile {
    margin: 50px 0;
  }
  .content {
    display: flex;
    gap: 2rem;
    @include mobile {
      gap: 1rem;
      flex-wrap: wrap;
    }
    .block {
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      background-color: $color-green;
      color: $color_white;

      .icon {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
      }
      .text {
        font-weight: 600;
        font-size: 1.2rem;
        text-align: center;
        @include laptop {
          font-size: 1rem;
        }
        
      }
    }
  }
}
