@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.hero {
  height: 700px;
  background-image: url('/images/herobg.jpg');
  background-size: cover;
  background-position: center;
  .content {
    // max-width: 1920px;
    // width: 55%;
    //height: 80%;
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
   // margin: 2rem 0;
    .text {
      width: 40%;
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      color: $color_white;
    }
    .image {
      position: relative;
      width: 500px;
      min-width: 500px;
      height: 400px;
      border-radius: 1rem;
     // background-image: url('/images/herobg.jpg');
      background-size: cover;
      // background-color: $color-green;
      // padding: 1rem 1rem 3rem;
      //display: flex;
      // flex-direction: column;
      //  align-items: center;
      //  justify-content: space-between;
      .timer {
        width: 80%;
        height: 40px;
        border-radius: 12px;
        background-color: $color_white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: $color_link;
      }
      .link {
        width: 80%;
        height: 40px;
        border-radius: 12px;
        padding: 0.5rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
        background-color: rgb(255, 255, 255, 0.95);
        backdrop-filter: blur(10px);
        text-align: center;
        box-shadow: $box-shadow-accent;
        font-weight: 600;
        font-size: 16px;
        color: $color-blue-gray;
        transition: $transition;
        span {
          position: relative;
          &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $color-blue-gray;
            transform: scaleX(0);
            transition: transform 0.25s ease-in-out;
            transform-origin: left;
          }
        }
        &:hover {
          span {
            &::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}
