@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';
.ourBears {
  h2 {
    margin: 75px auto 50px;
  }
  .bears {
    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 100px;
    }
  }
}
