@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.aboutAs {
  margin: 80px auto 100px;
  .block {
    border-bottom: 1px solid $color_green;
    border-radius: 10px;
    .title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem;
      font-size: 1.8rem;
      font-weight: 600;
      color: $color_green;
      text-align: left;
      svg {
        transition: $transition;
      }
      &.open {
        svg {
          transform: rotate(-90deg);
        }
      }
      @include mobile {
        font-size: 1.5rem;
      }
    }
    .description {
      color: $color-blue-gray;
      font-size: 1.4rem;
      height: 0;
      overflow: hidden;
      transition: all linear 0.5s;
      .content {
        opacity: 0;
        transition: $transition;
        padding: 0 1.5rem 1rem;
        p {
          margin-bottom: 0.5rem;
          &:nth-last-child(1) {
            margin-bottom: 0;
          }
        }
      }
      &.open {
        height: auto;
        .content {
          opacity: 1;
        }
      }
    }
  }
}
